body {
  font-family: 'Inter', system-ui, -apple-system, sans-serif;
  background-color: #303030;
  color: #fff;
  margin: 0;
  padding: 0;
}

.container {
  // max-width: 1000px;
  margin: 0 2rem;
}

h1 {
  color: #fff;
  font-size: 2rem;
}
